<div class = "splash-screen-container">
  <h1 class = "splash-heading">What's your Budget</h1>
  <div class="splash-button-container">
    <button class = 'login-btn'>
      <%= link_to "LOG IN", new_user_session_path, class:"navlink-login" %>
    </button>
    <button class = 'signup-btn'>
      <%= link_to "SIGN UP", new_user_registration_path, class:"navlink-signup" %>
    </button>
  </div>
</div>
